.outer-container {
  display: flex;
  background-color: lightblue;
  flex-direction: column;

  .game-nav {
    width: 100%;
    display: flex;
    padding-right: 1em;
    justify-content: flex-end;
    height: 10vh;

    .logout {
      width: 10%;
      background-color: $red1;
      padding: 12px 25px;
      color: #fff;
      font-size: 15px;
      font-weight: 700;
      letter-spacing: 0px;
      border: none;
      text-decoration: none;
      margin: 5px 20px 10px 0;
      border-radius: 5px;

      &:hover {
        filter: brightness(0.8);
        cursor: pointer;
      }
    }
  }

  .outer-map-container {
    height: 60vh;
    margin: 0 30%;
  }

  .game-bottom-container {
    height: 30vh;
    display: flex;
    justify-content: center;

    .left {
      width: 65%;
      border: 1px solid red;
    }
    .right {
      width: 35%;
      border: 1px solid blue;
    }
  }
}

.logout {
  position: absolute;
  top: 12px;
  border: none;
  padding: 10px;
  border-radius: 15px;
  color: white;
  background-color: #bb1333;
}
