.map-container {
  display: grid;
  grid-template-columns: 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11%;
  grid-template-rows: auto;
  grid-template-areas:
    " . . . . . . . . ."
    " . . . . . . . . ."
    " . . . . . . . . ."
    " . . . . . . . . ."
    " . . . . . . . . ."
    " . . . . . . . . ."
    " . . . .     167 . . . ."
    " . . . .     170 . . . ."
    " . . . .     164 . . . ."
    " . . . 108   104 . . . ."
    " . . . 107   105  106 . . ."
    " . . . . . . . . ."
    " . . . . . . . . ."
    " . . . . . . . . ."
    " . . . . . . . . ."
    " . . . . . . . . ."
    " . . . 178 103 . . . ."
    " . . . . 102 . . . ."
    " . . . . . . . . ."
    " . . . . . . . . .";

  .room-container {
    width: 2rem;
    height: 2rem;
    margin: 1rem;
    padding: 2px;
    background-color: black;
  }

  .room-102 {
    grid-area: welcomeCenter;
  }

  .room-103 {
    grid-area: courtyardSouth;
  }
}


// grid-template-rows: auto;
//   grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
//   padding-right: 15px;
//   border-radius: 5px;
//   grid-template-areas:
//     " image image image image name name . exit"
//     " image image image image link link link link"
//     " image image image image description description description description"
//     " image image image image description description description description"
//     " image image image image github github github github"
//     " image image image image tags tags tags tags"
//     " image image image image . buttons buttons buttons";
