.map-container {
  display: grid;
  background-color: lightgray;
  grid-template-columns: 3.44% 3.44% 3.44% 3.44% 3.44% 3.44% 3.44% 3.44% 3.44% 3.44% 3.44% 3.44% 3.44% 3.44% 3.44% 3.44% 3.44% 3.44% 3.44% 3.44% 3.44% 3.44% 3.44% 3.44% 3.44% 3.44% 3.44% 3.44% 3.44%;
  grid-template-rows: auto;
  grid-template-areas:
    ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
    ".    .    .    .    .    .    .    .    .    .    .    .    .    .   r167  .    .    .    .    .    .    .    .    .    .    .    .    .    ."
    ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
    ".    .    .    .    .    .    .    .    .    .    .    .   r168  .   r170  .   r169  .    .    .    .    .    .    .    .    .    .    .    ."
    ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
    ".    .    .    .    .    .    .   r174  .    .   r172  .   r166  .   r164  .   r165  .   r151  .    .   r156  .    .    .    .    .    .    ."
    ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
    ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
    ".    .    .    .   r176  .    .   r177  .    .   r171  .    .    .   r104  .    .    .   r150  .    .   r153  .    .   r154  .    .    .    ."
    ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
    ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
    ".    .    .    .    .    .    .   r175  .    .   r173  .    .    .    .    .    .    .   r152  .    .   r155  .    .    .    .    .    .    ."
    ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
    ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
    ".    .    .    .    .    .    .    .    .   r113  .    .    .    .    .    .    .    .    .   r120  .    .    .    .    .    .    .    .    ."
    ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
    ".    .    .    .    .    .    .   r112  .   r114  .   r111  .    .    .    .    .   r119  .   r121  .   r118  .    .    .    .    .    .    ."
    ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
    ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
    ".    .   r139  .    .   r138  .   r110  .   r108  .   r109  .    .    .    .    .   r117  .   r115  .   r116  .   r131  .    .    .    .    ."
    ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
    "r140 .   r142  .    .   r136  .    .    .   r107  .    .    .    .   r105  .    .    .    .   r106  .    .    .   r129  .    .   r135  .   r133"
    ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
    ".    .   r141  .    .   r137  .   r148  .   r143  .   r147  .    .    .    .    .   r124  .   r122  .   r123  .   r130  .    .    .    .    ."
    ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
    ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
    ".    .    .    .    .    .    .   r145  .   r149  .   r146  .    .    .    .    .   r126  .   r128  .   r125  .    .    .    .    .    .    ."
    ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .   r127  .    .    .    .    .    .    .    .    ."
    ".    .    .    .    .    .    .    .    .   r144  .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
    ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
    ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
    ".    .    .    .    .    .    .    .    .   r196  .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
    ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
    ".    .    .    .    .    .    .   r191  .   r193  .   r192  .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
    ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
    ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
    ".    .   r200  .    .   r198  .    .    .   r183  .    .   r179  .    .    .    .    .    .   r158  .    .   r163  .    .    .    .    .    ."
    ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
    "r201 .   r199  .    .   r184  .    .    .   r181  .    .   r178  .   r103  .    .    .    .   r157  .    .   r160  .    .   r161  .    .    ."
    ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
    ".    .   r202  .    .   r197  .    .    .   r182  .    .   r180  .   r102  .    .    .    .   r159  .    .   r162  .    .    .    .    .    ."
    ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
    ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
    ".    .    .    .    .    .    .   r185  .   r187  .   r186  .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
    ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
    ".    .    .    .    .    .    .    .    .   r190  .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .";

  .room-container {
    width: 100%;
    height: 3rem;
    margin: 0.5px;
    background-color: black;
  }

  .room-102 {
    grid-area: r102;
  }
  .room-103 {
    grid-area: r103;
  }
  .room-104 {
    grid-area: r104;
  }
  .room-105 {
    grid-area: r105;
  }
  .room-106 {
    grid-area: r106;
  }
  .room-107 {
    grid-area: r107;
  }
  .room-108 {
    grid-area: r108;
  }
  .room-109 {
    grid-area: r109;
  }
  .room-110 {
    grid-area: r110;
  }
  .room-111 {
    grid-area: r111;
  }
  .room-112 {
    grid-area: r112;
  }
  .room-113 {
    grid-area: r113;
  }
  .room-114 {
    grid-area: r114;
  }
  .room-115 {
    grid-area: r115;
  }
  .room-116 {
    grid-area: r116;
  }
  .room-117 {
    grid-area: r117;
  }
  .room-118 {
    grid-area: r118;
  }
  .room-119 {
    grid-area: r119;
  }
  .room-120 {
    grid-area: r120;
  }
  .room-121 {
    grid-area: r121;
  }
  .room-122 {
    grid-area: r122;
  }
  .room-123 {
    grid-area: r123;
  }
  .room-124 {
    grid-area: r124;
  }
  .room-125 {
    grid-area: r125;
  }
  .room-126 {
    grid-area: r126;
  }
  .room-127 {
    grid-area: r127;
  }
  .room-128 {
    grid-area: r128;
  }
  .room-129 {
    grid-area: r129;
  }
  .room-130 {
    grid-area: r130;
  }
  .room-131 {
    grid-area: r131;
  }
  .room-132 {
    grid-area: r132;
  }
  .room-133 {
    grid-area: r133;
  }
  .room-134 {
    grid-area: r134;
  }
  .room-135 {
    grid-area: r135;
  }
  .room-136 {
    grid-area: r136;
  }
  .room-137 {
    grid-area: r137;
  }
  .room-138 {
    grid-area: r138;
  }
  .room-139 {
    grid-area: r139;
  }
  .room-140 {
    grid-area: r140;
  }
  .room-141 {
    grid-area: r141;
  }
  .room-142 {
    grid-area: r142;
  }
  .room-143 {
    grid-area: r143;
  }
  .room-144 {
    grid-area: r144;
  }
  .room-145 {
    grid-area: r145;
  }
  .room-146 {
    grid-area: r146;
  }
  .room-147 {
    grid-area: r147;
  }
  .room-148 {
    grid-area: r148;
  }
  .room-149 {
    grid-area: r149;
  }
  .room-150 {
    grid-area: r150;
  }
  .room-151 {
    grid-area: r151;
  }
  .room-152 {
    grid-area: r152;
  }
  .room-153 {
    grid-area: r153;
  }
  .room-154 {
    grid-area: r154;
  }
  .room-155 {
    grid-area: r155;
  }
  .room-156 {
    grid-area: r156;
  }
  .room-157 {
    grid-area: r157;
  }
  .room-158 {
    grid-area: r158;
  }
  .room-159 {
    grid-area: r159;
  }
  .room-160 {
    grid-area: r160;
  }
  .room-161 {
    grid-area: r161;
  }
  .room-162 {
    grid-area: r162;
  }
  .room-163 {
    grid-area: r163;
  }
  .room-164 {
    grid-area: r164;
  }
  .room-165 {
    grid-area: r165;
  }
  .room-166 {
    grid-area: r166;
  }
  .room-167 {
    grid-area: r167;
  }
  .room-168 {
    grid-area: r168;
  }
  .room-169 {
    grid-area: r169;
  }
  .room-170 {
    grid-area: r170;
  }
  .room-171 {
    grid-area: r171;
  }
  .room-172 {
    grid-area: r172;
  }
  .room-173 {
    grid-area: r173;
  }
  .room-174 {
    grid-area: r174;
  }
  .room-175 {
    grid-area: r175;
  }
  .room-176 {
    grid-area: r176;
  }
  .room-177 {
    grid-area: r177;
  }
  .room-178 {
    grid-area: r178;
  }
  .room-179 {
    grid-area: r179;
  }
  .room-180 {
    grid-area: r180;
  }
  .room-181 {
    grid-area: r181;
  }
  .room-182 {
    grid-area: r182;
  }
  .room-183 {
    grid-area: r183;
  }
  .room-184 {
    grid-area: r184;
  }
  .room-185 {
    grid-area: r185;
  }
  .room-186 {
    grid-area: r186;
  }
  .room-187 {
    grid-area: r187;
  }
  .room-188 {
    grid-area: r188;
  }
  .room-189 {
    grid-area: r189;
  }
  .room-190 {
    grid-area: r190;
  }
  .room-191 {
    grid-area: r191;
  }
  .room-192 {
    grid-area: r192;
  }
  .room-193 {
    grid-area: r193;
  }
  .room-194 {
    grid-area: r194;
  }
  .room-195 {
    grid-area: r195;
  }
  .room-196 {
    grid-area: r196;
  }
  .room-197 {
    grid-area: r197;
  }
  .room-198 {
    grid-area: r198;
  }
  .room-199 {
    grid-area: r199;
  }
  .room-200 {
    grid-area: r200;
  }
  .room-201 {
    grid-area: r201;
  }
  .room-202 {
    grid-area: r202;
  }
}

// grid-template-rows: auto;
//   grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
//   padding-right: 15px;
//   border-radius: 5px;
//   grid-template-areas:
//     " image image image image name name . exit"
//     " image image image image link link link link"
//     " image image image image description description description description"
//     " image image image image description description description description"
//     " image image image image github github github github"
//     " image image image image tags tags tags tags"
//     " image image image image . buttons buttons buttons";

// ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
// ".    .    .    .    .    .    .    .    .    .    .    .    .    .   r167  .    .    .    .    .    .    .    .    .    .    .    .    .    ."
// ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
// ".    .    .    .    .    .    .    .    .    .    .    .   r168  .   r170  .   r169  .    .    .    .    .    .    .    .    .    .    .    ."
// ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
// ".    .    .    .    .    .    .   r174  .    .   r172  .   r166  .   r164  .   r165  .   r151  .    .   r156  .    .    .    .    .    .    ."
// ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
// ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
// ".    .    .    .   r176  .    .   r177  .    .   r171  .    .    .   r104  .    .    .   r150  .    .   r153  .    .   r154  .    .    .    ."
// ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
// ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
// ".    .    .    .    .    .    .   r175  .    .   r173  .    .    .    .    .    .    .   r152  .    .   r155  .    .    .    .    .    .    ."
// ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
// ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
// ".    .    .    .    .    .    .    .    .   r113  .    .    .    .    .    .    .    .    .   r120  .    .    .    .    .    .    .    .    ."
// ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
// ".    .    .    .    .    .    .   r112  .   r114  .   r111  .    .    .    .    .   r119  .   r121  .   r118  .    .    .    .    .    .    ."
// ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
// ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
// ".    .   r139  .    .   r138  .   r110  .   r108  .   r109  .    .    .    .    .   r117  .   r115  .   r116  .   r131  .    .    .    .    ."
// ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
// "r140  .   r142  .    .   r136  .    .    .   r107  .    .    .    .   r105  .    .    .    .   r106  .    .    .   r129  .    .   r135  .   r133"
// ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
// ".    .   r141  .    .   r137  .   r148  .   r143  .   r147  .    .    .    .    .   r124  .   r122  .   r123  .   r130  .    .    .    .    ."
// ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
// ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
// ".    .    .    .    .    .    .   r145  .   r149  .   r146  .    .    .    .    .   r126  .   r128  .   r125  .    .    .    .    .    .    ."
// ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .   r127  .    .    .    .    .    .    .    .    ."
// ".    .    .    .    .    .    .    .    .   r144  .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
// ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
// ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
// ".    .    .    .    .    .    .    .    .   r196  .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
// ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
// ".    .    .    .    .    .    .   r191  .   r193  .   r192  .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
// ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
// ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
// ".    .   r200  .    .   r198  .    .    .   r183  .    .   r179  .    .    .    .    .    .   r158  .    .   r163  .    .    .    .    .    ."
// ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
// "r201  .   r199  .    .   r184  .    .    .   r181  .    .   r178  .   r103  .    .    .    .   r157  .    .   r160  .    .   r161 .    .    ."
// ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
// ".    .   r202  .    .   r197  .    .    .   r182  .    .   r180  .   r102  .    .    .    .   r159  .    .   r162  .    .    .    .    .    ."
// ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
// ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
// ".    .    .    .    .    .    .   r185  .   r187  .   r186  .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
// ".    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    ."
// ".    .    .    .    .    .    .    .    .   r190  .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .    .";
