.movements {
    height: inherit;
    border-radius: 0px 15px 15px 0px;
    border: 5px solid #bb1333;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-left: none;
    
}

.svg-inline--fa {
    font-size: 3rem;
    cursor: pointer;
    color: #bb1333;
    &.disabled {
        color: darkgray;
    }
}

.arrow-row {
    display: flex;
    justify-content: center;
    &__center {
        display: flex;
        justify-content: space-around;
    }
    
}