$dark-gray: #6a6980;

// blues
$blue1: #4c9bd3;
$blue2: #0664d8;
$blue3: #0049cc;
$blue4: #0e256b;
$blue5: #1b4d82;
$blue6: #1c3f75;

// purples
$purple1: #2c0d39;
$purple2: #2a0a33;
$purple3: #160527;

// reds
$red1: #bb1333;
$red2: #880c23;
$red3: #934b61;
$red4: #dc474d;
